.navbar {
    background-color:  #7A9498;
  }
  
  .navbar-brand {
    color: white;
  }
  
  .nav-link,
  .dropdown-item {
    color: rgb(16, 16, 16) !important;
  }
  
  .small-image {
    width: 70px;
   
  }
  
  section{
    margin-left: 100px;
  }
  
  #product{
    margin-left: 250px;
    margin-top: 5%;
    width: 420px;
  }

  .space{
    word-spacing: 100px;
  }
.payment_mode button{
  margin:  1%;
}