ul li span{
        text-align: center;
        display: inline-block;
        padding: 2px 15px 3px 15px;
        margin-right: 10px;
        margin-bottom: 10px;
        background: #000;
        border: #060505 solid 11px;
        border-radius: 80px;
        width: 90px;
        background-clip: padding-box;
        color: #ffffff;
        font-size: 10px;
        min-width: 44px;
        cursor: pointer;
        position: relative;
} 
  
     .product-image {
        max-width: 100%;
        height: auto;
    }

    #image{
        margin-left: 130px;
        border-radius: 60px;
    }

    .small-image {
        max-width: 60%;
        height: auto;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-left: 40px;
        border-radius: 30px;
    }

    .tab-content {
        margin-top: 20px;
    }

    li{
        list-style-type: none;
    }

.navbar {
    background-color: #7A9498; 
  }
  
  .navbar-brand {
    color: #fff; 
  }
  
  .nav-link,
  .dropdown-menu a {
    color: #0d0505; 
  }
  
  .nav-link.active {
    color: #fff; 
  }
  
  .dropdown-menu {
    background-color: #f8f8f8; 
  }
  
  .form-control-sidebar {
    background-color: #f8f9fa; 
    color: #495057; 
  }
  